# Copyright (c) 2024, 2026, Oracle and/or its affiliates. All rights reserved.
# The Universal Permissive License (UPL), Version 1.0 as shown at https://oss.oracle.com/licenses/upl/

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
.DS_Store
*.zip
packer_cache/
local*.pkrvars.hcl
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
packer 2/
